name: CI
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Linter
        run: |
          npm ci
          npm run lint
  test_unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        run: |
          npm ci
          npm run test
  test_e2e:
    name: End to End Tests
    runs-on: ubuntu-latest
    container: node:16.14.2-alpine3.15
    env:
      DB_PASS: ruv2cyHT4H78BVzK7b4DnBAHJR8dG4fG
      DB_USER: admin
      DB_NAME: codesupport-api
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: $DB_PASS
          POSTGRES_USER: $DB_USER
          POSTGRES_DB: $DB_NAME
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - name: Runs End to End Tests
        env:
          DATABASE_HOST: localhost
          DATABASE_PASS: $DB_PASS
          DATABASE_USER: $DB_USER
          DATABASE_NAME: $DB_NAME
        run: |
          npm ci
          npm run test:e2e
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Builds Source Code
        run: |
          npm ci
          npm run build